<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.profilehg">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />
	<application android:label="Profile Hog"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.STATUS_BAR" />
	<service android:name="datacollection.DataCollection">
		<intent-filter>
			<action android:name="com.StudioTurnbull.DataCollection" />
		</intent-filter>
	</service>
</manifest>